<section class="section">
  <div class="container">
    <div class="columns is-variable is-6-desktop">
      <div class="column is-one-quarter">
        <% if user_signed_in? %>
          <%= render 'user_profile' %>
        <% else %>
        <div class="panel">
          <p class="panel-heading has-text-centered has-background-dark has-text-white">Writer Profile</p>
          <div class="panel-block has-background-warning">
            <p class="panel-heading has-text-centered has-background-warning title is-6">Log in to see profile</p>
          </div>
        </div>
        <% end %>
        <%= render 'latest_stories' %>
        <%= render 'most_stories' %>
      </div>
      <div class="column is-three-quarters has-background-white-ter">
        <%= render 'stories_feed' %>
      </div>
    </div>
  </div>
</section>
