<div class="section">
  <div class="container">
    <div class="columns is-centered is-variable is-6-desktop">
      <div class="column is-one-quarter">
        <% if user_signed_in? %>
          <%= render 'author_profile' %>
        <% else %>
          <div class="panel">
            <p class="panel-heading has-text-centered has-background-dark has-text-white">Author</p>
            <div class="panel-block has-background-warning">
             <p class="panel-heading has-text-left has-background-warning title is-6">Log in to see author</p>
            </div>
          </div>
          <div class="panel">
            <p class="panel-heading has-text-centered has-background-dark has-text-white">Other Stories</p>
            <div class="panel-block has-background-warning">
             <p class="panel-heading has-text-left has-background-warning title is-6">Log in for author's other stories</p>
            </div>
          </div>
        <% end %>
      </div>   
      <div class="column is-three-quarters has-background-white-ter">
        <h1 class="title has-text-centered">
          <%= @story.title %>
        </h1>
        <p>
          <%= simple_format @story.body.gsub("\n", " ") %>
        </p> 
      </div>
    </div>
  </div>
</div>
